
$light-blue: #06CAF2;
$dark-blue: #00A1C2;
#class-detail{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    #class-container{
        background-color: white;
        max-width: 750px;
        width: 100%;
        margin: auto;
        margin-top: 100px;
        border-radius: 10px;
        position: relative;
        #class-header{
            width: 100%;
            height: 90px;
            background-color: $dark-blue;
            border-radius: 10px 10px 0 0;
            position: relative;
            #class-header-text{
                display: block;
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
                color: white;
                font-size: 66px;
                font-family: 'Passion One', cursive;
            }
        }
        #tab-container{
            display: flex;
            width: 100%;
            height: 46px;
            .tab{
                width: 50%;
                height: 100%;
                position: relative;
                .centered{
                    display: block;
                    position: absolute;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    left: 50%;
                    font-family: 'Passion One', cursive;
                    font-size: 39px;
                    color: $light-blue;
                }
            }
        }
    }
}